In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
unprocessed_df=pd.read_csv("Economic_Twitter_Data.csv")

In [3]:
unprocessed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24637 entries, 0 to 24636
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24637 non-null  object
 1   source              24633 non-null  object
 2   original_text       24633 non-null  object
 3   polarity            24625 non-null  object
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      24625 non-null  object
 7   retweet_count       24625 non-null  float64
 8   original_author     24625 non-null  object
 9   followers_count     24618 non-null  object
 10  friends_count       24625 non-null  object
 11  possibly_sensitive  9982 non-null   object
 12  hashtags            24624 non-null  object
 13  user_mentions       24617 non-null  object
 14  place               15724 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.8+ MB

total number of missing values in extracted data frame

In [5]:
unprocessed_df.isnull().sum().sum()

23712

total number of missing values in each columns

In [6]:
unprocessed_df.isnull().sum()

created_at                0
source                    4
original_text             4
polarity                 12
subjectivity             12
lang                     12
favorite_count           12
retweet_count            12
original_author          12
followers_count          19
friends_count            12
possibly_sensitive    14655
hashtags                 13
user_mentions            20
place                  8913
dtype: int64

display the first 10 instances

In [7]:
unprocessed_df.head(10)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,Twitter for Android,RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,0,355.0,McMc74078966,3,12,NaN,[],['nikitheblogger'],NaN
1,Fri Apr 22 22:19:16 +0000 2022,Twitter for Android,RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,0,505.0,McMc74078966,3,12,NaN,[],['sagt_mit'],NaN
2,Fri Apr 22 22:17:28 +0000 2022,Twitter for Android,RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,0,4.0,McMc74078966,3,12,NaN,[],"['Kryptonoun', 'WRi007']",NaN
3,Fri Apr 22 22:17:20 +0000 2022,Twitter for Android,RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,0,332.0,McMc74078966,3,12,NaN,"['Deutschen', 'Spritpreisen', 'inflation', 'Ab...",['WRi007'],NaN
4,Fri Apr 22 22:13:15 +0000 2022,Twitter for Android,RT @RolandTichy: Baerbock verk√ºndet mal so neb...,0.0,0.0,de,0,386.0,McMc74078966,3,12,NaN,[],['RolandTichy'],NaN
5,Fri Apr 22 22:12:51 +0000 2022,Twitter for Android,RT @biggyyyyyyy: https://t.co/jvvA7F9m4U,0.0,0.0,und,0,77.0,McMc74078966,3,12,False,[],['biggyyyyyyy'],NaN
6,Fri Apr 22 22:12:17 +0000 2022,Twitter for Android,"RT @SiriaBlack_II: Ich bin mir sicher, dass vi...",0.0,0.0,de,0,129.0,McMc74078966,3,12,NaN,['Baerbock'],['SiriaBlack_II'],NaN
7,Fri Apr 22 22:10:01 +0000 2022,Twitter for Android,RT @Darling_2022: Ich wiederhole mich gerne no...,0.0,0.0,de,0,860.0,McMc74078966,3,12,NaN,[],['Darling_2022'],NaN
8,Fri Apr 22 22:09:38 +0000 2022,Twitter for Android,RT @rosenbusch_: Brigadegeneral a. D. Erich Va...,0.0,1.0,de,0,926.0,McMc74078966,3,12,NaN,[],['rosenbusch_'],NaN
9,Fri Apr 22 22:04:16 +0000 2022,Twitter for Android,RT @kickout55711802: Klasse Rede √ºber die Fern...,0.0,0.0,de,0,285.0,McMc74078966,3,12,False,[],['kickout55711802'],NaN

display the last 5 instances

In [8]:
unprocessed_df.tail(5)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
24632,Fri Apr 22 14:44:56 +0000 2022,Twitter for iPhone,RT @waglenikhil: ‡§Ü‡§™‡§≤‡•ç‡§Ø‡§æ ‡§ò‡§∞‡§æ‡§§‡§≤‡•ç‡§Ø‡§æ ‡§ï‡•ã‡§£‡§§‡•ç‡§Ø‡§æ‡§π‡•Ä ‡§ï‡§æ‡§∞...,0.0,0.0,mr,0,242.0,kitukalesatya,706,643,NaN,[],['waglenikhil'],NaN
24633,Fri Apr 22 14:44:44 +0000 2022,Twitter for iPhone,"RT @yadavtejashwi: ‡§ö‡•å‡§π‡§∞‡§Æ‡§≤ ‡§®‡§ó‡§∞, ‡§´‡•Å‡§≤‡§µ‡§æ‡§∞‡•Ä ‡§∂‡§∞‡•Ä‡§´ ‡§Æ‡•á...",0.0,0.0,hi,0,242.0,kitukalesatya,706,643,NaN,[],['yadavtejashwi'],NaN
24634,Fri Apr 22 14:44:35 +0000 2022,Twitter for iPhone,RT @Parthtiwari25: Gujarat Congress MLA arrest...,0.0,0.0,en,0,203.0,kitukalesatya,706,643,NaN,[],['Parthtiwari25'],NaN
24635,Fri Apr 22 14:44:08 +0000 2022,Twitter for iPhone,RT @news24tvchannel: CM ‡§®‡•Ä‡§§‡•Ä‡§∂ ‡§ï‡•Å‡§Æ‡§æ‡§∞ ‡§®‡•á ‡§§‡•á‡§ú‡§∏‡•ç‡§µ‡•Ä...,0.0,0.0,hi,0,301.0,kitukalesatya,706,643,NaN,[],['news24tvchannel'],NaN
24636,Fri Apr 22 14:43:01 +0000 2022,Twitter for iPhone,RT @suvegrathi: ‡§≠‡§ó‡§µ‡§æ‡§® ‡§î‡§∞ ‡§ñ‡•Å‡§¶‡§æ ‡§Ü‡§™‡§∏ ‡§Æ‡•á‡§Ç ‡§¨‡§æ‡§§ ‡§ï‡§∞ ‡§∞...,0.0,0.0,hi,0,12.0,kitukalesatya,706,643,NaN,[],"['suvegrathi', 'BajpayeeManoj']",NaN